@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400');

body{
	background-image: url('/bg.jpg');
}

.stop {
	float: right;
}

.buttonactived {
	color: white;
	background-color: #2cd649;
}

.buttondesactived {
	color: white;
	background-color: #bfbfbf;
}

.balance {
	font-size: 16pt;
	font-weight: 300;
	width: 150px;
}

.btn-success-mnz{
	color:#fff;
	background-color: #227124;
	border-color: #154416;
}

.btn:hover {
	color: white;
}
.loader{
	margin-top: 25%;
}

.btn-success-mnz:hover {
    color: #fff;
		background-color: #2cd649;
		border-color: #154416;
}

.btn-success-mnz:focus {
	color: #fff;
	background-color: #2cd649;
	border-color: #154416;
}

.disableSendCoins {
	opacity: 0.65;
 	cursor: not-allowed;
}


#loginbox {
    margin-top: 33%;
}

#login > div:first-child {
    padding-bottom: 10px;
}

#form > div {
    margin-bottom: 25px;
}

#form > div:last-child {
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel {
    background-color: transparent;
}

.panel-body {
    padding-top: 30px;
    background-color: rgba(2555,255,255,.3);
}

a{
	color: #c2ccc0;
}

footer {
color: #a0a0a0;
position: fixed;
bottom: 0;
width: 100%;
height: 30px;
line-height: 30px;
background-color: #f5f5f542;
}

.navbar{
	position: fixed;
	top: 0px;
	background-color: #ffffff1f;
	width:100%;
	min-height:37px;
	height: 37px;
	padding: 2px;
	border-radius: 0px;
}

.walletview{
	color:#93b799;
}

.addrs{
	margin-top:5%
}

.address{
	width: 270px;
}

.swaps{
	color:#fff;
	background-color: #ffffff62;
}

.buy{
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		background-color: #227124;
		border-color: #154416;
		color:#fff;
}

.buy:hover{
	background-color: #2cd649;
	border-color: #154416;
}

.right{
	float:right;
}
.qr-code-container {
    float: right;
    margin-top: 20px;
		background-color:#ffffff89;
		padding:10px;
	}
.qr{
	color:#fff;
}
