<template name="loginform">

  <div class="container">

    <div id="loginbox" class="mainbox">
        <div class="panel panel-default" >
            <div class="panel-heading">
                <div class="panel-title text-center">AtomicDEX</div>
            </div>

            <div class="panel-body" >

              <form name="login" id="login" class="form-horizontal login" enctype="multipart/form-data" method="POST">

                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="passphrase" type="password" class="form-control" name="password" placeholder="Passphrase/Seed">
                </div>

                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 controls">
                            <button type="submit" href="#" class="btn btn-success-mnz pull-right"><i class="glyphicon glyphicon-log-in"></i> Open dICO-Wallet</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

</template>
